<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Mobile 1</th>
        <th>Mobile 2</th>
        <th>Notes</th>
        <th>Extra</th>
      </tr>
    </thead>
    <tbody>
      @if (contacts$ | async; as contacts) {
        @for (contact of contacts; track contact.id) {
          <tr>
            <th scope="row">{{ contact.id }}</th>
            <td>{{ contact.name }}</td>
            <td>{{ contact.mobile }}</td>
            <td>{{ contact.secondMobile }}</td>
            <td>{{ contact.notes }}</td>
            <td>
              @if (contact.isBlocked) {
                <span>
                  <i class="bi bi-ban"></i>
                </span>
              }
              @if (contact.isEmergencyContact) {
                <span>
                  <i class="bi bi-patch-plus"></i>
                </span>
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
